body {
    background-color: antiquewhite;
    color: olivedrab;
}

h3 {
    color: rgb(15, 126, 146);
}

#p3 {
    background-color: blueviolet;
    color: blanchedalmond;
}

#p6 {
    background-color: rgb(228, 142, 170);
    color: orangered;
}